div[data-table-library_th]{
    text-align: right;
}
/* 
div[data-table-library_th]{
    border-radius: var(--mantine-radius-default);
    box-shadow: var(--mantine-shadow-xs);
} */

div[data-table-library_td] * {
    user-select: none !important;
}

div[data-table-library_td] > div {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}

.row-tree-leaf{
    @apply bg-gray-100 !important;
}

@media print{
    #header_banner ,
    #header,
    #footer,
    #bottom-navigation,
    #fastorder-pagination,
    #fastorder-top,
    #fastorder-search,
    #fastorder-filters,
    #fastorder-tablesettings,
    #fastorder-table::-webkit-scrollbar
    {
        display: none;
    }
}

/* #tables div.tr-header {
    display: none !important;
} */