.wide-slider {
  position: relative;
  width: 100%;
}

.wide-slider .swiper {
  position: relative;
  z-index: 1;
}

.wide-slide-image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
