.badged-carousel-prev,
.badged-carousel-next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    z-index: 50;
}

.badged-carousel-prev {
    right: 20px;
}

.badged-carousel-next {
    left: 20px;
}

@media only screen and (max-width: 420px){
    .badged-slider-left-right{
        width: 100px !important;
        height: auto;
    }
}

.badged-slider-left-right{
    width: 150px;
    height: auto;
}