.trend-slider-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 50;
  border: 1px solid #e2e8f0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.trend-slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: 50;
  border: 1px solid #e2e8f0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.product-highlight-card-carousel-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 50;
}

.product-highlight-card-carousel-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    z-index: 50;
}

.product-highlight-card-slide-image{
    contain-intrinsic-size: 3000px 1500px;
}