@layer tailwind {
	@tailwind base;
}
@tailwind components;
@tailwind utilities;

body{
    font-family: var(--mantine-font-family);
}

/* Remove input password shower icon in edge */
input:has(::-ms-reveal,::-ms-clear){
    display: none;
}