@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--mantine-font-family);
  -moz-font-feature-settings: "ss02" !important;
  -webkit-font-feature-settings: "ss02" !important;
  font-feature-settings: "ss02" !important;
  background: var(--mantine-color-gray-0);
}

/* Remove input password shower icon in edge */
input:has(::-ms-reveal, ::-ms-clear) {
  display: none;
}

.mantine-InputWrapper-label{
  margin-bottom: var(--mantine-spacing-xs);
}

.mantine-Drawer-content{
  padding: 7px !important;
}